source https://api.nuget.org/v3/index.json

nuget FSharp.Core
nuget Dapper 1.50.5
nuget Giraffe 1.1.0
nuget Microsoft.AspNetCore.Cors >= 2.0.0
nuget Microsoft.AspNetCore.Server.Kestrel >= 2.0.0
nuget Microsoft.Extensions.Configuration 2.2.0
nuget Microsoft.Extensions.Configuration.Json 2.2.0
nuget Microsoft.Extensions.Logging.Console >= 2.0.0
nuget Microsoft.Extensions.Logging.Debug >= 2.0.0
nuget Microsoft.NET.Test.Sdk 15.8.0
nuget Newtonsoft.Json 11.0.2
nuget NUnit 3.11.0
nuget NUnit3TestAdapter 3.10.0
nuget TaskBuilder.fs 2.1.0
nuget xunit 2.3.1
nuget xunit.runner.visualstudio 2.3.1