/*---Tags---*/

body {
    font-family: 'Segoe UI';
    font-size: 16px
}

input {
    font-family: 'Segoe UI';
    font-size: 16px
}

table {
    border-spacing: 0px
}

tr {
    margin: 0px
}

td {
    border: 1px dotted silver;
    padding: 3px 5px 3px 5px
}

/*---Classes---*/

.heading {
    font-size: 24px;
    margin: 5px 0px 10px 0px
}

.section {
    border: solid 2px silver;
    padding: 0px 0px 0px 10px;
    background-color: whitesmoke;
}

