<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="master" 
         connectionString="Data Source=localhost;Initial Catalog=master;Integrated Security=True;" 
         providerName="System.Data.SqlClient" />
    <add name="djambi"
         connectionString="Data Source=localhost;Initial Catalog=djambi;Integrated Security=True;"
         providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="sqlDirectoryRelativePath" value="..\..\..\..\..\db\"/>
  </appSettings>
</configuration>
