<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModule" resourceType="Unspecified" />
    </handlers>
    <aspNetCore processPath="%LAUNCHER_PATH%" arguments="%LAUNCHER_ARGS%" stdoutLogEnabled="false" stdoutLogFile="logs/stdout" />
  </system.webServer>
  <connectionStrings>
    <add name="Main"
         connectionString="Data Source=localhost;Integrated Security=SSPI;Initial Catalog=Djambi"
         providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>